export SCW_ACCESS_KEY=SCWS687168P6BC5HGNJE
export SCW_SECRET_KEY=f91cbf6f-4c04-4ab7-b7cc-5169f5490fd7
export SCW_DEFAULT_PROJECT_ID=6be15ce2-55f0-4ff7-a620-2a789d55a99f
export SCW_DEFAULT_REGION=fr-par
export SCW_DEFAULT_ZONE=fr-par-1
