@import "compass/css3";



/* nav li li li {display: inline-block; } */

nav {
	display: inline-block;
  text-align:center;
	margin: 0px auto;
}

nav ul {
	padding: 0;
	margin: 0 auto;
  box-sizing: content-box;
}

nav a {
	padding: 10px;
	background: #000000;
	border-radius: 5px;
  text-decoration: none;
}

nav li {
	list-style: none;
	position: relative;
	float: left;

}

nav a {
	display: block;
	width: 175px;
  align-items: center;
}

nav ul ul {
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: +1;
  display: none;
  font-size: 90%;
}

nav li:hover ul {
	display: block;

}

nav li:hover a {
  background-color: #000000;
  font-size: large;
}

nav li:hover a:hover {
	background-color: #5f08ff;
  color: #ccc;
}


nav ul ul ul {
  padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: +1;
  display: none;
  font-size: small;
  
}

header::after {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

html {
	margin-top: 2.5em;
	padding-bottom: 20em;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

  background-image: url("Dark.jpg");
  background-repeat: repeat-y;
  background-position: right top;
  scroll-behavior: smooth;
}


body {
	border-radius: 20px;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 12px;
	line-height: 1.7;
	padding: .125em 1em 0.5em 1em;
	margin: auto;
	width: 1000px;
	font-size: 16px;
	color: white;
	background: #1c1c1c;
}

a {
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  transition: .4s;
}

 /* unvisited link */
a:link {
  color: #0395DE;
}

/* visited link */
a:visited {
  color: #0395DE;
}

/* mouse over link */
a:hover {
  color: #00A388;
  font-weight: bold;
  font-size: large;
  transition: .4s ;
}

/* selected link */
a:active {
  color: #FF6138;
} 


a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem; 
  display: block;margin-left: auto;margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
  font-weight: bold;
  text-decoration: underline;
}

.title {
	font-size: 3.5em;
	text-align: center;
}

h1 {
	font-size: xx-large;color: #dc3522;
  text-decoration: none;
}
h1:before {
  content: " ";
  display: block;
  border: 25px solid #1c1c1c;
}
h1:after {
	content: " ";
	display: block;
	border: 1px solid white;
}

h2 {
  font-size: x-large;color: #00e08b;
  text-decoration: underline;
  text-decoration-color: #00A388;
}.before{content:" ";display:block;border:7px solid #1c1c1c;}

h3 {
  font-size: larger;color: #00aaff;
  text-decoration: underline;
  text-decoration-color: #00aaff;
}.before{content:" ";display:block;border:7px solid #1c1c1c;}

h4 {
  font-size: 1.2em;color: #FF7400;
  text-decoration: underline;
}

h5 {
  font-size: 1em;color: #b200ff;
  text-decoration: underline;
}

h6 {
  font-size: 0.9em;color: #EF4089;
  text-decoration: underline;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  text-decoration: none;
}

mark {
  background: #ff0;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
	padding: 0px;
	margin: 0px;
}

dd {
  	font-size: small;
}

dl dd:last-of-type {
	display: none;
}

dl:hover dd:last-of-type {
	display: block;
}


/* Code Blocks */
    pre {
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 95%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        background-color: #333333;
        color: darkorange;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 1px #000;
        -webkit-box-shadow: 1px 1px 1px #000;
        box-shadow: 1px 1px 1px #000;
        border: 1px solid #bebab0;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        
        
    }       
    
    code {
        font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
        font-size: 95%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        background: #333333;
        
        
    }:not(pre)>code {
      color: red;
      font-weight: bold;
      border-radius: 5px;
      -moz-box-shadow: 1px 1px 1px #000;
      -webkit-box-shadow: 1px 1px 1px #000;
      box-shadow: 1px 1px 1px #000;
      border: 1px solid #bebab0;
      padding: 2px;
    }
    
    #content code {
        display: block;
        overflow: auto;        
        margin-block: 20px;
        
    }



/* Quotes */
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "\201D";
  /*Font*/
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  right: 10px;
  bottom:1px;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}


/* Info, Success, Warning, Alert */
.info {
  display:block;
  background: #000000;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #0395DE;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #0395DE;
  border-right: 2px solid #0395DE;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #0395DE;
  -webkit-box-shadow: 2px 2px 15px #0395DE;
  box-shadow: 2px 2px 15px #0395DE;
}
.info::before {
      content: "👉 INFO:    ";
      /*Font*/
      font-family: Georgia, serif;
      font-size: 15px;
      font-weight: bold;
      color: #00A388;
}

.success {
  display:block;
  background: #000000;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #00e08b;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #00e08b;
  border-right: 2px solid #00e08b;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #00e08b;
  -webkit-box-shadow: 2px 2px 15px #00e08b;
  box-shadow: 2px 2px 15px #00e08b;
}
  .success::before {
      content: " 👌 SUCCESS: ";
      /*Font*/
      font-family: Georgia, serif;
      font-size: 15px;
      font-weight: bold;
      color: #00e08b;
}

.warning {
  display:block;background: #000000;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #FF6138;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #FF6138;
  border-right: 2px solid #FF6138;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #FF6138;
  -webkit-box-shadow: 2px 2px 15px #FF6138;
  box-shadow: 2px 2px 15px #FF6138;
}
  .warning::before {
      content: " ⚠️ WARNING: ";
      /*Font*/
      font-family: Georgia, serif;
      font-size: 15px;
      font-weight: bold;
      color: #FF6138;
}

.alert {
  display:block;background: #000000;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #DC3522;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #DC3522;
  border-right: 2px solid #DC3522;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #DC3522;
  -webkit-box-shadow: 2px 2px 15px #DC3522;
  box-shadow: 2px 2px 15px #DC3522;
}
  .alert::before {
      content: " 😨 ALERT: ";
      /*Font*/
      font-family: Georgia, serif;
      font-size: 15px;
      font-weight: bold;
      color: #DC3522;
}


/* Q & A */
.question {
  display:block;
  background: #131A28;
  padding: 15px 20px 15px 45px;
  /*margin: 0 0 20px;*/
  position: center;
  /*Font*/
  font: bold 100% "Comic Sans MS", cursive;
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  color: #F8F8FF;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 5px solid #DC3522;
  border-right: 55px solid #DC3522;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #DC3522;
  -webkit-box-shadow: 2px 2px 15px #DC3522;
  box-shadow: 2px 2px 15px #DC3522;
  /* Positionning & Size */
  margin-left: auto;margin-right: auto;
  width: 750px;
  object-position: left;
}
  .question::before {
      content: "Question ❓ ";
      /*Font*/
      font: bold 100% "Comic Sans MS", cursive;
      text-align: left;
      font-size: 15px;
      font-weight: bold;
      color: #DC3522;
}
  .question::after {
    content: " ❓ ";
    /*Font*/
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: bold;
    color: #DC3522;
    text-align: right;
  }

.answer {
  display:block;
  background: #131A28;
  padding: 15px 20px 15px 45px;
  /*margin: 0 0 20px;*/
  position: relative;
  /*Font*/
  font: bold 100% "Comic Sans MS", cursive;
  text-align: right;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  /*Borders - (Optional)*/
  border-left: 55px solid #27AE60;
  border-right: 5px solid #27AE60;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #27AE60;
  -webkit-box-shadow: 2px 2px 15px #27AE60;
  box-shadow: 2px 2px 15px #27AE60;
  /* Positionning & Size */
  margin-left: auto;margin-right: auto;
  width: 750px;
  object-position: right;
}
  .answer::before {
      content: "Réponse:        ";
      /*Font*/
      font: bold 100% "Comic Sans MS", cursive;
      color: #27AE60;
}
  .answer::after {
    content: " ✔️ ";
  }



/* --------------------- VIDEOS --------------------- */
.vimeo,
.youtube {
    position: relative;
    cursor: pointer;
    display: table;
    width: 100%;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    overflow: hidden;
}
/* youtube always use 16:9 aspect ratio video */
.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.vimeo img {
    width: 100%;
    object-fit: contain;
    z-index: 0;
}
.youtube img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.vimeo iframe,
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}
.vimeo .icon,
.youtube .icon {
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.3;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
    z-index: 0;
}
.vimeo:hover .icon,
.youtube:hover .icon {
    opacity: 0.6;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

.slideshare .inner,
.speakerdeck .inner {
    position: relative;
    width: 100%;
}
.slideshare .inner iframe,
.speakerdeck .inner iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* IFRAME */
iframe {
  /* padding-top: 56.25%; */
  width: 1000px;
  height: 712.5px;
  
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

/* Footer */
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #00A388;
  text-align: center;
}

/* 
% Color definitions
% Awesome colors
\definecolor{awesome-emerald}{HTML}{00A388}
\definecolor{awesome-skyblue}{HTML}{0395DE}
\definecolor{awesome-red}{HTML}{DC3522}
\definecolor{awesome-pink}{HTML}{EF4089}
\definecolor{awesome-orange}{HTML}{FF6138}
\definecolor{awesome-nephritis}{HTML}{27AE60}
\definecolor{awesome-concrete}{HTML}{95A5A6}
\definecolor{awesome-darknight}{HTML}{131A28} */